pipeline/pl_multiple_databases.json
{
	"name": "pl_multiple_databases",
	"properties": {
		"activities": [
			{
				"name": "FetchAllTableNames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_AzureMySqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FetchAllTableNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FetchAllTableNames').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().source_database",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "customerdb",
										"activities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_AzureSqlTable1_Param",
														"type": "DatasetReference",
														"parameters": {
															"table_schema": {
																"value": "@item().table_schema",
																"type": "Expression"
															},
															"table_name": "@item().table_name"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DelimitedText_Param",
														"type": "DatasetReference",
														"parameters": {
															"table_schema": "@item().table_schema",
															"table_name": "@item().table_name"
														}
													}
												]
											}
										]
									},
									{
										"value": "productdb",
										"activities": [
											{
												"name": "Copy data1_copy1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_AzureSqlTable2_Param",
														"type": "DatasetReference",
														"parameters": {
															"table_schema": "@item().table_schema",
															"table_name": "@item().table_name"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DelimitedText_Param",
														"type": "DatasetReference",
														"parameters": {
															"table_schema": "@item().table_schema",
															"table_name": "@item().table_name"
														}
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-04-14T03:25:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}